/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #b2fefe 0%, #59d3c8 30%, #00C5CD 60%);
  /*background-image: linear-gradient(to top right, #b2fefe 0%, #00C5CD 30%, #009ecd 60%);
  */background-position: 50% 50%;
}
